############################################
# My files
############################################
homework1_C_Graham_cache
homework1_C_Graham_files
Assignment2_C_Graham_cache
Assignment2_C_Graham_files
Assignment3_C_Graham_cache
Assignment3_C_Graham_files
.idea/


############################################
# R Section
############################################

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.DS_Store
.RData

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
